<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>


	<entry key="reviewList">
	    SELECT 
	         PRODUCT_NAME
	       , PRODUCT_BRAND
	       , PRODUCT_PRICE
	    FROM PRODUCT
	</entry>

<entry key="selectReview">
		SELECT 
		    PRODUCT_NAME
		FROM PRODUCT
</entry>




<!-- 리뷰작성 --> 
<entry key="insertReview">
	INSERT
	    INTO REVIEW
	    (
	     RE_NO
	   , PRODUCT_NO
	   , USER_NO
	   , RE_CONTENT
       , RE_MARK
	   )
	VALUES
	    (
	      SEQ_RENO.NEXTVAL
	    , ?
	    , ?
	    , ?
        , 0
	    )
</entry>





	<!-- 작성자 : 임지우 -->
	<entry key="selectListCount">
		SELECT COUNT (*) LISTCOUNT
  		  FROM REVIEW
	</entry>
	
	<!-- 작성자 : 임지우 -->
	<entry key="selectList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM
		             , R.*
		          FROM (
		                SELECT
		                       RE_NO
		                     , PRODUCT_NAME
		                     , EMAIL
		                     , RE_CONTENT
		                     , RE_MARK
		                  FROM REVIEW
		                  JOIN PRODUCT USING(PRODUCT_NO)
		                  JOIN MEMBER USING(USER_NO)
		                 ORDER
		                    BY RE_NO DESC
		                ) R
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<!-- 작성자:임지우 - 리뷰관리 상세보기 -->
	<entry key="selectReview">
		SELECT
			   RE_NO
			 , PRODUCT_NAME
			 , EMAIL
			 , RE_CONTENT
			 , RE_MARK
		  FROM REVIEW
		  JOIN PRODUCT USING(PRODUCT_NO)
		  JOIN MEMBER USING(USER_NO)
		 WHERE RE_NO = ?
	</entry>
	
	<!-- 작성자:임지우 - 리뷰관리 삭제 -->
	<entry key="deleteNotice">
		DELETE
			   REVIEW
		 WHERE RE_NO = ?
	</entry>





</properties>


