<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<!--작성자 : 김혜미-->
	<!-- 공지사항 리스트조회(사용자) -->
	<entry key="selectNoticeList">
		SELECT NO_TITLE
		     , NO_CREATE_DATE
		  FROM NOTICE N
		 WHERE NO_STATUS = 'Y'
		 ORDER 
		    BY NO_CREATE_DATE DESC
	</entry>
	
	<!-- 공지사항 리스트조회(관리자) -->
	<entry key="selectNoticeListAdmin">
		SELECT NO_NO
             , NO_TITLE
             , NO_CREATE_DATE
             , NO_COUNT
             , NO_STATUS
          FROM NOTICE N
	     ORDER 
		    BY NO_CREATE_DATE DESC
	</entry>
	
	
	<!-- 공지사항 작성(관리자) -->
	<entry key="insertNotice">
		INSERT 
		  INTO NOTICE
		  (
		    NO_NO
		  , NO_TITLE
          , NO_CONTENT
		  )
		  VALUES
		  (
		    SEQ_NNO.NEXTVAL
		  , ?
		  , ?
          )
	</entry>
	
	<!-- 조회수 증가  -->
	<entry key="increaseCount">
		UPDATE
		       NOTICE
		   SET NO_COUNT = NO_COUNT + 1
		 WHERE NO_NO = ?
	</entry>
	
	<!-- 공지사항 상세(관리자) -->
	<entry key="selectNoticeDetail">
		SELECT 
		       NO_NO
		     , NO_TITLE
		     , NO_CONTENT
		     , NO_CREATE_DATE
		     , NO_STATUS
		  FROM NOTICE N
		 WHERE NO_NO = ?
		  
	</entry>
	
	
	<entry key="deleteNotice">
		UPDATE
		       NOTICE
		   SET NO_STATUS = 'N'
		 WHERE NO_NO = ?
	</entry>
	
	<entry key="updateNotice">
	UPDATE
	       NOTICE
	   SET NO_TITLE = ?
	   	 , NO_CREATE_DATE = ?
	     , NO_CONTENT = ?
	 WHERE NO_NO = ?
	</entry>
	
	<entry key="selectListCount">
	SELECT COUNT(*) LISTCOUNT
  	  FROM NOTICE
	</entry>
	
	<entry key="selectList">
		
	</entry>
	
	
	
</properties>



