<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectQnaList">
	SELECT 
	      POST_TITLE
	    , POST_CONTENT
	    , USER_FILE_RENAME
	    , NICKNAME
	    , POST_FILE_RENAME
	  FROM POST P
	  JOIN MEMBER ON (P.USER_NO = MEMBER.USER_NO)
	  JOIN POST_FILE F ON (P.POST_NO = F.POST_NO)
	  WHERE POST_STATUS = 'Y'
	    AND POST_CONTENT LIKE '질문%'
	</entry>


</properties>