<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<entry key="selectKnowHowList">
		SELECT
		         POST_TITLE
		       , POST_CONTENT
		       , POST_FILE_RENAME
		  FROM POST P
		  JOIN POST_FILE ON (P.POST_NO = POST_FILE.POST_NO)
		 WHERE P.POST_STATUS = 'Y' 
		   AND POST_TITLE LIKE '노하우%'
	</entry>

	<entry	key="selectKnowHow">
		SELECT
	         POST_TITLE
	        ,NAME
	        ,POST_FILE_RENAME
	        ,POST_CONTENT
	        ,PCOM_CONTENT
	    FROM POST P
	    JOIN MEMBER ON (P.USER_NO = MEMBER.USER_NO)
	    JOIN POST_FILE ON (POST_FILE.POST_NO = P.POST_NO)
	    JOIN POST_COMMENT ON (P.USER_NO = POST_COMMENT.USER_NO)
	   WHERE P.POST_STATUS = 'Y'
	   	 AND POST_TITLE LIKE '노하우%'
	</entry>
	
	
	<!-- 작성자:임지우 - 노하우관리 리스트카운트 조회 -->
	<entry key="selectListCount">
		SELECT COUNT (*) LISTCOUNT
		  FROM POST  
		 WHERE POST_CATE_NAME = '노하우'
	</entry>
	
	<!-- 작성자:임지우 - 노하우관리 리스트 조회 -->
	<entry key="selectList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM
		             , K.*
		          FROM (
		                SELECT
		                       POST_NO
		                     , POST_TITLE
		                     , POST_UPDATE_DATE
		                     , POST_COUNT
		                     , POST_STATUS
		                  FROM POST
		                 WHERE POST_CATE_NAME = '노하우'
		                 ORDER
		                    BY POST_UPDATE_DATE DESC
		               ) K
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	
	
	
</properties>

