<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<!--작성자 : 김혜미-->
	<entry key="loginMember">
		SELECT 
			   USER_NO
			 , EMAIL
			 , PWD
			 , NAME
			 , NICKNAME
			 , GENDER
			 , USER_FILE_RENAME
			 , BIRTH
			 , POST_CODE
			 , ADDRESS
			 , PHONE
             , JOIN_DATE
             , USER_STATUS
             , ADMIN
		  FROM 
		  	   MEMBER
		 WHERE 
		       USER_STATUS = 'Y'
		   AND EMAIL = ?
		   AND PWD = ?
	</entry>
	
	
	<!-- 작성자 : 임지우 -->
	<entry key="selectListCount">
		SELECT COUNT(*) LISTCOUNT
		  FROM MEMBER
		 WHERE ADMIN = 'U'
	</entry>
	
</properties>
