<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<!--작성자 : 김혜미-->
	<entry key="loginMember">
		SELECT 
			   USER_NO
			 , EMAIL
			 , PWD
			 , NAME
			 , NICKNAME
			 , GENDER
			 , USER_FILE_RENAME
			 , BIRTH
			 , POST_CODE
			 , ADDRESS
			 , PHONE
             , JOIN_DATE
             , USER_STATUS
             , ADMIN
		  FROM 
		  	   MEMBER
		 WHERE 
		       USER_STATUS = 'Y'
		   AND EMAIL = ?
		   AND PWD = ?
	</entry>
	
	
	<!--작성자 : 김혜미-->
	<entry key="insertMember">
      INSERT
        INTO MEMBER
             (
               USER_NO
             , EMAIL
             , PWD
             , NAME
             , NICKNAME
             )
       VALUES
             (
               SEQ_UNO.NEXTVAL
             , ?
             , ?
             , ?
             , ?
             )
	</entry>
	
		
	<!--작성자 : 김혜미-->
	<entry key="deleteMember">
		UPDATE 
			   MEMBER
		   SET USER_STATUS = 'N'
		 WHERE NICKNAME = ?
		   AND PWD = ?
	</entry>
	
	
	
	<!--작성자 : 김혜미-->
	<entry key="updateMember">
	UPDATE
       	   MEMBER
	   SET 
	       NICKNAME = ?
	     , GENDER = ?
	     , PHONE = ?
	     , BIRTH = ?
	     , USER_FILE_RENAME = ?
	 WHERE USER_NO = ?
	</entry>
	
	
	
	
	<!-- 작성자 : 임지우 -->
	<entry key="selectListCount">
		SELECT COUNT(*) LISTCOUNT
		  FROM MEMBER
		 WHERE ADMIN = 'U'
	</entry>
	
	<!-- 작성자 : 임지우 -->
	<entry key="selectList">
		SELECT *
		  FROM (
		        SELECT
		               ROWNUM RNUM
		             , M.*
		          FROM (
		                SELECT 
		                       USER_NO
		                     , EMAIL
		                     , NAME
		                     , NICKNAME
		                     , GENDER
		                     , BIRTH
		                     , POST_CODE
		                     , ADDRESS
		                     , PHONE
		                     , JOIN_DATE
		                     , USER_STATUS
		                     , ADMIN
		                  FROM MEMBER
		                 ORDER
		                    BY JOIN_DATE DESC
		               ) M
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="idCheck">
		SELECT
		       COUNT(*) "COUNT"
		  FROM MEMBER
		 WHERE EMAIL = ?
	</entry>
	
	
	<!-- 작성자:임지우 - 회원관리 상세보기 -->
	<entry key="selectMember">
		SELECT 
               USER_NO
             , EMAIL
             , NAME
             , NICKNAME
             , GENDER
             , BIRTH
             , POST_CODE
             , ADDRESS
             , PHONE
             , JOIN_DATE
             , USER_STATUS
             , ADMIN
          FROM MEMBER
         WHERE USER_NO = ?
	</entry>
	
	
</properties>
