<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<!-- 
	작성자 : 김혜미
	작성날짜 : 2021년 04월 17일
-->
	<entry key="loginMember">
		SELECT 
			   USER_NO
			 , EMAIL
			 , PWD
			 , NAME
			 , NICKNAME
			 , GENDER
			 , USER_FILE_RENAME
			 , BIRTH
			 , POST_CODE
			 , ADDRESS
			 , PHONE
             , JOIN_DATE
             , USER_STATUS
             , ADMIN
		  FROM 
		  	   MEMBER
		 WHERE 
		       USER_STATUS = 'Y'
		   AND EMAIL = ?
		   AND PWD = ?
	</entry>
	
</properties>
