<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectFurnitureList">
		 SELECT 
		 		  PRODUCT.PRODUCT_NO
		 		, PRODUCT.CATE2_NO  
                , PRODUCT_BRAND  
                , PRODUCT_NAME
                , PRODUCT_PRICE
                , PRODUCT_DATE
                , PRODUCT_FILE_RENAME
             FROM PRODUCT, PRODUCT_CATEGORY2, PRODUCT_FILE
            WHERE PRODUCT.CATE2_NO = PRODUCT_CATEGORY2.CATE2_NO
              AND PRODUCT.PRODUCT_NO = PRODUCT_FILE.PRODUCT_NO
              AND CATE1_NO = 1
              AND CATE2_NO = ?
              AND PRODUCT_FILE_ORIGIN_NAME LIKE '%main%'
         ORDER BY PRODUCT.PRODUCT_NO ASC
	</entry>
	
	<entry key="selectFabricList">
		 SELECT 
		 		  PRODUCT.PRODUCT_NO
                , PRODUCT_BRAND  
                , PRODUCT_NAME
                , PRODUCT_PRICE
                , PRODUCT_DATE
                , PRODUCT_FILE_RENAME
             FROM PRODUCT, PRODUCT_CATEGORY2, PRODUCT_FILE
            WHERE PRODUCT.CATE2_NO = PRODUCT_CATEGORY2.CATE2_NO
              AND PRODUCT.PRODUCT_NO = PRODUCT_FILE.PRODUCT_NO
              AND CATE1_NO = 2
              AND PRODUCT_FILE_ORIGIN_NAME LIKE '%main%'
         ORDER BY PRODUCT.PRODUCT_NO ASC
	</entry>
	
	<entry key="selectDecoList">
		 SELECT 
		 		  PRODUCT.PRODUCT_NO
                , PRODUCT_BRAND  
                , PRODUCT_NAME
                , PRODUCT_PRICE
                , PRODUCT_DATE
                , PRODUCT_FILE_RENAME
             FROM PRODUCT, PRODUCT_CATEGORY2, PRODUCT_FILE
            WHERE PRODUCT.CATE2_NO = PRODUCT_CATEGORY2.CATE2_NO
              AND PRODUCT.PRODUCT_NO = PRODUCT_FILE.PRODUCT_NO
              AND CATE1_NO = 3
              AND PRODUCT_FILE_ORIGIN_NAME LIKE '%main%'
         ORDER BY PRODUCT.PRODUCT_NO ASC
	</entry>
	
	<entry key="selectStorageList">
		 SELECT 
		 		  PRODUCT.PRODUCT_NO
                , PRODUCT_BRAND  
                , PRODUCT_NAME
                , PRODUCT_PRICE
                , PRODUCT_DATE
                , PRODUCT_FILE_RENAME
             FROM PRODUCT, PRODUCT_CATEGORY2, PRODUCT_FILE
            WHERE PRODUCT.CATE2_NO = PRODUCT_CATEGORY2.CATE2_NO
              AND PRODUCT.PRODUCT_NO = PRODUCT_FILE.PRODUCT_NO
              AND CATE1_NO = 4
              AND PRODUCT_FILE_ORIGIN_NAME LIKE '%main%'
         ORDER BY PRODUCT.PRODUCT_NO ASC
	</entry>
	
	<entry key="selectSuppliesList">
		 SELECT 
		 		  PRODUCT.PRODUCT_NO
                , PRODUCT_BRAND  
                , PRODUCT_NAME
                , PRODUCT_PRICE
                , PRODUCT_DATE
                , PRODUCT_FILE_RENAME
             FROM PRODUCT, PRODUCT_CATEGORY2, PRODUCT_FILE
            WHERE PRODUCT.CATE2_NO = PRODUCT_CATEGORY2.CATE2_NO
              AND PRODUCT.PRODUCT_NO = PRODUCT_FILE.PRODUCT_NO
              AND CATE1_NO = 5
              AND PRODUCT_FILE_ORIGIN_NAME LIKE '%main%'
         ORDER BY PRODUCT.PRODUCT_NO ASC
	</entry>
	
	<entry key="selectKitchenList">
		 SELECT 
		 		  PRODUCT.PRODUCT_NO
                , PRODUCT_BRAND  
                , PRODUCT_NAME
                , PRODUCT_PRICE
                , PRODUCT_DATE
                , PRODUCT_FILE_RENAME
             FROM PRODUCT, PRODUCT_CATEGORY2, PRODUCT_FILE
            WHERE PRODUCT.CATE2_NO = PRODUCT_CATEGORY2.CATE2_NO
              AND PRODUCT.PRODUCT_NO = PRODUCT_FILE.PRODUCT_NO
              AND CATE1_NO = 6
              AND PRODUCT_FILE_ORIGIN_NAME LIKE '%main%'
         ORDER BY PRODUCT.PRODUCT_NO ASC
	</entry>
	
	<entry key="selectPetList">
		 SELECT 
		 		  PRODUCT.PRODUCT_NO
                , PRODUCT_BRAND  
                , PRODUCT_NAME
                , PRODUCT_PRICE
                , PRODUCT_DATE
                , PRODUCT_FILE_RENAME
             FROM PRODUCT, PRODUCT_CATEGORY2, PRODUCT_FILE
            WHERE PRODUCT.CATE2_NO = PRODUCT_CATEGORY2.CATE2_NO
              AND PRODUCT.PRODUCT_NO = PRODUCT_FILE.PRODUCT_NO
              AND CATE1_NO = 7
              AND PRODUCT_FILE_ORIGIN_NAME LIKE '%main%'
         ORDER BY PRODUCT.PRODUCT_NO ASC
	</entry>
	
	<entry key="selectProduct">
		SELECT
		       PRODUCT_NO
		     , PRODUCT_BRAND
		     , PRODUCT_NAME
		     , PRODUCT_PRICE
		     , PRODUCT_DETAIL
		     , PRODUCT_DATE
		  FROM PRODUCT
		 WHERE PRODUCT_NO = ?
		   AND PRODUCT_STATUS = 'Y'
	</entry>
	
	<entry key="selectProductFile">
		SELECT
		       PRODUCT_FILE_NO
		     , PRODUCT_FILE_RENAME
		  FROM PRODUCT_FILE
		 WHERE PRODUCT_NO = ?
	</entry>
	
	<entry key="selectProductOption">
		SELECT
		       OPTION_NO
		     , PRODUCT_NO
		     , OPTION_NAME
		     , OPTION_PRICE
		     , OPTION_STOCK
		  FROM PRODUCT_OPTION
		 WHERE PRODUCT_NO = ?
	</entry>

	<entry key="furnitureCate">
		SELECT
		       PRODUCT_CATEGORY1.CATE1_NO
		     , CATE2_NO
		     , CATE1_NAME
		     , CATE2_NAME
		  FROM PRODUCT_CATEGORY1, PRODUCT_CATEGORY2
		 WHERE PRODUCT_CATEGORY1.CATE1_NO = PRODUCT_CATEGORY2.CATE1_NO
		   AND PRODUCT_CATEGORY1.CATE1_NO = 1
	</entry>
	
</properties>