<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectList">
		SELECT
		       PRODUCT.PRODUCT_NO
             , PRODUCT_BRAND  
		     , PRODUCT_NAME
		     , PRODUCT_PRICE
		     , PRODUCT_DATE
		     , PRODUCT_FILE_RENAME
		  FROM PRODUCT, PRODUCT_FILE
         WHERE PRODUCT.PRODUCT_NO = PRODUCT_FILE.PRODUCT_NO
           AND CATE2_NO = 1
           AND PRODUCT_FILE_ORIGIN_NAME LIKE '%main%'
	</entry>
	
	<entry key="selectProduct">
		SELECT
		       PRODUCT_NO
		     , PRODUCT_BRAND
		     , PRODUCT_NAME
		     , PRODUCT_PRICE
		     , PRODUCT_DETAIL
		     , PRODUCT_DATE
		  FROM PRODUCT
		 WHERE PRODUCT_NO = ?
		   AND PRODUCT_STATUS = 'Y'
	</entry>
	
	<entry key="selectProductFile">
		SELECT
		       PRODUCT_FILE_NO
		     , PRODUCT_FILE_RENAME
		  FROM PRODUCT_FILE
		 WHERE PRODUCT_NO = ?
	</entry>
	
	<entry key="selectProductOption">
		SELECT
		       OPTION_NO
		     , PRODUCT_NO
		     , OPTION_NAME
		     , OPTION_PRICE
		     , OPTION_STOCK
		  FROM PRODUCT_OPTION
		 WHERE PRODUCT_NO = ?
	</entry>

	<entry key="selectProductCate1List">
		SELECT
		       CATE1_NO
		     , CATE1_NAME
		  FROM PRODUCT_CATE1
	</entry>
	
	<entry key="selectProductCate2List">
		SELECT
		       CATE2_NO
		     , CATE1_NO
		     , CATE2_NAME
		  FROM PRODUCT_CATE2
		 WHERE PRODUCT_CATE1 = ?
	</entry>
	
	<entry key="totalPrice">
		SELECT
		     , PRODUCT_PRICE
		     , OPTION_PRICE
		  FROM PRODUCT_OPTION PO, PRODUCT P
		 WHERE PO.PRODUCT_NO = P.PRODUCT_NO AND PO.OPTION_NO=?
	</entry>
</properties>